version: '2.2'

services:
  # The application
  app:
    image: docker.pkg.github.com/biigle/gpus/app
    user: ${USER_ID}:${GROUP_ID}
    build:
      dockerfile: .docker/gpus-app.dockerfile
      context: ./
      args:
        GITHUB_OAUTH_TOKEN: ${GITHUB_OAUTH_TOKEN}
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      - "REDIS_HOST=cache"

  # The web server
  web:
    image: docker.pkg.github.com/biigle/gpus/web
    depends_on:
      - app
    build:
      context: ./
      dockerfile: .docker/gpus-web.dockerfile
    working_dir: /var/www
    volumes:
      - ./:/var/www
    ports:
      - 8001:80

  worker:
    image: docker.pkg.github.com/biigle/gpus/worker
    user: ${USER_ID}:${GROUP_ID}
    depends_on:
      - app
    build:
      context: ./
      dockerfile: .docker/gpus-worker.dockerfile
    working_dir: /var/www
    volumes:
      - ./:/var/www
    environment:
      - "REDIS_HOST=cache"
    command: "php -d memory_limit=1G artisan queue:work --sleep=5 --tries=1 --timeout=0"

  cache:
    image: redis:3.0-alpine

